@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: $bg-color;

  .form {
    display: flex;
    flex-direction: column;

    .prodList {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 20px;
      align-items: center;
    }

    .formInput {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 30px;
      margin: 10px 0;

      input, textarea {
        border: none;
        font-size: 20px;
        background-color: $bg-color;
      }
    }

    .clientData {
      display: flex;
      flex-direction: column;
      align-items: center;

      input, textarea {
        background-color: $text-color2;
        width: 300px;
        font-family: $text-font;
      }

      textarea {
        font-size: 20px;
        border: none;
      }
    }
  }
}
