@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;

  .toolbar {

    .title {
      font-family: $logo-font;
      color: $text-color;
      font-size: 30px;
      font-style: italic;

      Span {
        color: $main-color;
      }
    }
    .link {
      font-family: $text-font;
      color: $text-color;
      text-decoration: none;
    }
  }
}
